[package]
name = "link-transformer"
version = "0.0.0"
edition = "2024"
publish = false

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
pulldown-cmark = { workspace = true }
walkdir = { workspace = true }
