name: Expired links

on:
  pull_request:
  push:
    branches: [master]
  schedule:
    - cron: "0 12 * * 1"

defaults:
  run:
    shell: bash

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2

      - name: Check expired links
        run: cargo run -p expired-link-checker posts/*.md
